/* global variables */
:root {
  --main-color: #10cab7;
  --second-color: #f6f6f6;
  --text-color-bo: #1f2021;
  --text-color-re: #797979;
  --sect_color: #fafafa;
}
/* start global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans";
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small devices */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
/* medium devices */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
/* large devices */
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
/* end global rules */
/* start components */
.special-heading {
  font-size: 70px;
  color: #e1e1e1;
  text-align: center;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  margin-top: -30px;
  color: var(--text-color-re);
  margin-bottom: 60px;
}
/* end components */
/* start header */
.header {
  padding: 10px 20px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 25px;
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.header .links .icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text-color-bo);
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links ul {
  width: 200px;
  position: absolute;
  list-style: none;
  right: 0;
  top: calc(100% + 10px);
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 100;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #ebebeb transparent;
  top: -20px;
  right: 5px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  color: var(--text-color-bo);
  text-decoration: none;
  transition: 0.3s;
}
.header .links ul li a:hover {
  margin-left: 15px;
}
.header .links ul li:not(:last-child) {
  width: 100%;
  border-bottom: 2px solid var(--second-color);
}
/* end header */
/* start landing */
.landing {
  width: 100%;
  background-image: url(../images/20b4fc9506d2e155e5c607af22486157.jpg);
  background-size: cover;
  height: calc(100vh - 45px);
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c4755;
  opacity: 0.3;
  z-index: 1;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}
.landing h1 {
  color: var(--main-color);
  font-size: 50px;
}
.landing p {
  color: #fff;
  line-height: 1.4;
  font-size: 20px;
}
/* end landing */
/* start features */
.features {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--sect_color);
}
.features .feat {
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}
.features .feat i {
  color: var(--main-color);
  margin-bottom: 20px;
}
.features .feat h3 {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--text-color-bo);
}
.features .feat p {
  font-size: 13px;
  color: var(--text-color-re);
  line-height: 1.3;
}

/* end features */
/* start servises */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .col{
  margin-right: 20px;
}
.services .services-content .srv i {
  margin-right: 20px;
  color: var(--main-color);
}
.services .services-content .srv .text h3 {
  font-weight: 800;
  color: var(--text-color-bo);
  margin-bottom: 20px;
}
.services .services-content .srv .text p {
  color: var(--text-color-re);
}
.services .services-content .image {
  display: flex;
  align-items: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #2c4755;
  z-index: -1;
}
@media (max-width: 768px) {
  .services .services-content .srv {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .services-content .srv i {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .services .services-content .image {
    display: none;
  }
}
/* end servises */
/* start protofolio */
.protofolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sect_color);
}
.protofolio .protofolio-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}
.protofolio .protofolio-content .card {
  margin-bottom: 40px;
}
.protofolio .protofolio-content .card img {
  max-width: 250px;
  height: 200px;
}
.protofolio .protofolio-content .card .info {
  max-width: 250px;
}
.protofolio .protofolio-content .card .info p {
  color: var(--text-color-re);
}
@media (max-width: 768px) {
  .protofolio .protofolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* end protofolio */
/* start apout */
.apout {
  padding-top: 60px;
  padding-bottom: 60px;
}
.apout .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.apout .content .info {
  max-width: 550px;
  line-height: 1.6;
}
.apout .content .info p:first-child {
  color: var(--text-color-bo);
  font-weight: 600;
  margin-bottom: 30px;
}
.apout .content .info p:last-child {
  margin-top: 10px;
  color: var(--text-color-re);
}
.apout .content .info hr {
  width: 40%;
  border-color: var(--main-color);
}
.apout .content .image {
  width: 300px;
  height: 350px;
  position: relative;
}
.apout .content .image img {
  width: 300px;
  height: 250px;
}
.apout .content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #ebebeb;
  left: -20px;
  top: -50px;
  z-index: -1;
}
.apout .content .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  top: -30px;
  right: -150px;
}
@media (max-width: 1200px) {
  .apout .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 720px) {
  .apout .content .image::after {
    display: none;
  }
}
/* end apout */
/* start contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sect_color);
}
.contact .content h2 {
  font-size: 40px;
  color: #2c4755;
  margin-bottom: 10px;
}
.contact .content h3 {
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 20px;
  margin-left: 50px;
}
.contact .content .icons {
  display: flex;
  gap: 20px;
}
.contact .content .icons p {
  color: var(--text-color-re);
}
.contact .content .icons i {
  font-size: 18px;
}
@media (max-width: 720px) {
  .contact .content h3 {
    margin-left: 20px;
    font-size: 25px;
  }
}
/* end contact */
/* start footer */
.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #2c4755;
  color: #fff;
  font-weight: bold;
}
.footer span {
  color: var(--main-color);
}
/* end footer */
